<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" media="all" type="text/css" href="{% static 'app1/style.css' %}" />
    <title>WEB SITE</title>
</head>
<body>
    <H2>{{ article.title}}</H2>
    <div style="width:80%;" ></div>
    <!-- </br></br> -->
    {{ article.text}} </br></br>
    {{ article.link}}</br></br>
    {{ article.number_of_upvotes}} </br></br>
    {{ article.agreement_index}} </br></br>
   
    {{ source.name }}</br></br>
    {{ source.reliability_index}}</br></br>
    {{ source.number_of_posts}} </br></br>

    <table>
    <tr>
        <th>TITLE</th>
        <th>Similarity percentage</th>
    </tr>
    {% for item in relatedposts %}
    <tr> 
        <td>{{ item.title }}</td>
        <td>{{ item.similarity_percentage}}</td>
    </tr>
    {% endfor %}
     </table>


    <form action="{% url 'articles' %}" method="get">
        
        <input type="text" name="q">
        <input type="submit" value="Search">
    
    </form>
    <div class="element">
        <p>Images</p>
    </div>
    <div class="element">
        <p>Video</p>
    </div>
    <div class="element">
        <p>Apps</p>
    </div>
</body>
</html>