<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" media="all" type="text/css" href="{% static 'app1/style.css' %}" />
     <link href="{% static 'app1/bootstrap.css' %}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{% static 'app1/offcanvas.css' %}" rel="stylesheet">

    <title>WEB SITE</title>
</head>
<body>
     <div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
      <div class="container">
        <div class="navbar-header" style="float:right">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'login' %}" style="font-size:30px;">Log out</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav" >
            <li ><a href="{% url 'news' %}">Home</a></li>
            <li><a href="{% url 'createart' %}">Create Article </a></li>
          </ul>
        </div><!-- /.nav-collapse -->
      </div><!-- /.container -->
    </div><!-- /.navbar -->
    <!-- <div >
        <a href="{% url 'news' %}"> <button type="button" class="btn btn-primary" style="height:50px;width:150px;float: left;" >Home </button> </a>
        <a href="{% url 'createart' %}"> <button type="button" class="btn btn-primary" style="height:50px;width:150px;float: left;" >Create Article </button> </a>
        <a href="{% url 'login' %}"> <button type="button" class="btn btn-primary" style="height:50px;width:150px; float: right;" >Log out </button> 
    </div>
    <div style="clear:both"></div> -->
    <div style="width: 100%;padding: 0px 20px;">
        <div style="width:50%; padding: 60px 20px;float: left" >
             <a href="{{ article.link}}"><H2>{{ article.title}}</H2></a>
            {{ article.text}} </br></br>
        </div>
        <div style="width:40%; float: right;padding: 0px 60px;" >
            </br></br></br>
            <!-- <div class="w3-light-grey" style="width:70%">
              <div class="w3-green" style="height:20px;width:25%"></div>
            </div></br> -->
            <div>
            <h4>Agreement Index:</h4> <p style="text-align:center; margin-bottom: 10px;"> {{ article.agreement_index|floatformat:2}}</p></br>
            Number of Upvotes:{{article.number_of_upvotes}} 
            <a href="./articles?articleid={{article.article_id}};upvote=1"><img src="../static/imgs/up.png" style="padding-top: 0px; width:20px;max-width:50px;"> </a>
            <a href="./articles?articleid={{article.article_id}};upvote=-1"> <img src="../static/imgs/down.png" style="padding-top: 0px; width:20px;max-width:50px;"> </a>
            </br></br>
             <hr> 
            <div style="width: 100%; padding: 0px 70px">
                <a href="./sourcepage?sourcename={{source.name}}"> <img src="../static/imgs/{{source.name}}.png" style="padding-top: 30px; width:80%;max-width:80px;"></a></br></br>
            </div>
            <p style="padding-bottom: 0px">Reliability Index: {{ source.reliability_index}} </br>
            Number of Posts: {{ source.number_of_posts}} </p>
            <hr> 
            <h3 style="padding-left: 10px">Related Posts</h3>
            <table>
                {% for item in relatedposts %}
                <tr> 
                    <td> <a href="./articles?articleid={{item.article_match}}"> {{ item.title }}</a></td>
                    <td>{{ item.similarity_percentage|floatformat:1}}% match</td>
                </tr>
                {% endfor %}
            </table>
            </div>
        </div>
    </div>
    <div style="clear:both"></div>
    </br></br>
</body>
</html>