<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" media="all" type="text/css" href="{% static 'app1/style.css' %}" />
    <title>WEB SITE</title>
</head>
<body>
    <a href="{% url 'login' %}"> <button type="button" class="btn btn-primary" style="height:50px;width:150px; float: right;" >Log out </button> 
    <a href="{% url 'createart' %}"> <button type="button" class="btn btn-primary" style="height:50px;width:150px;float: right;" >Create Article </button> </a>
    <a href="{% url 'news' %}"> <button type="button" class="btn btn-primary" style="height:50px;width:150px;float: right;" >Home </button> </a>
    <div style="width: 100%;padding: 20px;">
        <div style="width:50%; padding: 100px 20px;float: left" >
             <a href="{{ article.link}}"><H2>{{ article.title}}</H2></a>
            {{ article.text}} </br></br>
        </div>
        <div style="width:30%; float: right;padding: 20px 60px;" >
            </br></br></br>
            <div class="w3-light-grey" style="width:70%">
              <div class="w3-green" style="height:20px;width:25%"></div>
            </div></br>
            <div>
            <h4>Agreement Index:</h4> <p style="text-align:center; margin-bottom: 10px;"> {{ article.agreement_index}}</p></br>
            Number of Upvotes:{{article.number_of_upvotes}} </br></br>
             <hr> 
            <div style="width: 100%; padding: 0px 70px">
                <a href="./sourcepage?sourcename={{source.name}}"> <img src="../static/imgs/{{source.name}}.png" style="padding-top: 30px; width:80%;max-width:80px;"></a></br></br>
            </div>
            <p style="padding-bottom: 0px">Reliability Index: {{ source.reliability_index}} </br>
            Number of Posts: {{ source.number_of_posts}} </p>
            <hr> 
            <h3 style="padding-left: 100px">Related Posts</h3>
            <table>
                {% for item in relatedposts %}
                <tr> 
                    <td> <a href="./articles?articleid={{item.article_match}}"> {{ item.title }}</a></td>
                    <td>{{ item.similarity_percentage}}% match</td>
                </tr>
                {% endfor %}
            </table>
            </div>
        </div>
    </div>
    <div style="clear:both"></div>
    </br></br>
</body>
</html>