<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <!-- Bootstrap core CSS -->
  <link href="{% static 'app1/bootstrap.css' %}" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="{% static 'app1/offcanvas.css' %}" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<script type="text/javascript">
 
</script>
<body>

  <div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
      <div class="container">
        <div class="navbar-header" style="float:right">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'login' %}" style="font-size:15px;">Log out</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav" >
            <li ><a href="{% url 'news' %}">Home</a></li>
            <li><a href="{% url 'createart' %}">Create Article </a></li>
          </ul>
        </div><!-- /.nav-collapse -->
      </div><!-- /.container -->
    </div><!-- /.navbar -->

<div class="container">
  <h2>Create your article here </h2>
  
  <form action="{% url 'handlecreatearticles' %}" method="get" >
      <label for="comment">Text Area:</label>
      
      <textarea class="form-control" rows="15" name="article"></textarea>
    
    <label for="comment">Title:</label>
      
      <textarea class="form-control" rows="3" name="title"></textarea>

    </br>
 
    
    <button type="submit" class="btn btn-primary" style="height:30px;width:150px;"  >Submit Article</button>
  </form>
</div>

</body>
</html>
