<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" media="all" type="text/css" href="{% static 'Web_App/style.css' %}" />
    <title>WEB SITE</title>
</head>
<body>
    <div class="element">
        <p>Text</p>
    </div>
    <div class="element">
        <p>Images</p>
    </div>
    <div class="element">
        <p>Video</p>
    </div>
    <div class="element">
        <p>Apps</p>
    </div>
</body>
</html>