

<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" media="all" type="text/css" href="{% static 'app1/style.css' %}" />
     <!-- Bootstrap core CSS -->
    <link href="{% static 'app1/bootstrap.css' %}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{% static 'app1/offcanvas.css' %}" rel="stylesheet">

    <title>WEB SITE</title>
</head>
<body>
    <div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
      <div class="container">
        <div class="navbar-header" style="float:right">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'login' %}" style="font-size:15px;">Log out</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav" >
            <li ><a href="{% url 'news' %}">Home</a></li>
            <li><a href="{% url 'createart' %}">Create Article </a></li>
          </ul>
        </div><!-- /.nav-collapse -->
      </div><!-- /.container -->
    </div><!-- /.navbar -->

    {% for item in list_articles %}
    <div style="width: 80%; padding: 10px">
        <div style="float:left; width: 15%;text-align: center; padding: 10px"> <a href="./sourcepage?sourcename={{item.source}}"> <img src="../static/imgs/{{item.source}}.png" style="padding-top: 30px; width:80%;max-width:80px;"></a>
     </div>
        <div style="float:left; width: 60%"> <div style=" background-color:#DCDCDC"> <h3 >{{ item.title}}</h3></div> <div style=" background-color:#F0F0F0"> <p style="margin: 0;"> {{ item.text}} <a href="./articles?articleid={{item.article_id}}"><u>Readmore</u></a> 
        </p></div> </div>
        {% if item.agreement_index < 1 %}
        <div style="float:right; padding-top: 30px"> <h4>No related articles</h4></div>

        {% else %}
        <div style="float:right; padding-top: 30px"> <h4>Agreement Index:</h4>
            <p style="padding-left: 50px ">{{item.agreement_index|floatformat:2}}/10</p></div>
        {% endif %}
    </div>
    <div style="clear:both"></div>
    </br></br>
    {% endfor %}
    <form action="{% url 'news' %}" method="get">
        <input type="hidden" name="pagenum" value="{{pagenum}}" typ>
        <input type="submit" value="Next page">
    </form>

</body>
</html>