

<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" media="all" type="text/css" href="{% static 'Web_App/style.css' %}" />
    <title>WEB SITE</title>
</head>
<body>
    <div class="element">
        <p><script type="text/javascript">
           
        </script></p>
    </div>

    <table>
    <tr>
        <th>SOURCE</th>
        <th>TITLE</th>
        <th>TEXT</th>
        <th>LINK</th> 
        <th>NUMBER OF UPVOTES</th>
    </tr>
    {% for item in list_articles %}
    <tr> 
        <td>{{ item.source }}</td>
        
        <td>{{ item.title}}</td>
        <td>{{ item.text}}</td>
        <td>{{ item.link}}</td>
        <td>{{ item.number_of_upvotes}}</td>
    </tr>
    {% endfor %}
    </table>


   <form action="{% url 'articles' %}" method="get">
        
        <input type="text" name="q">
        <input type="submit" value="Search">
    
    </form>
    <div class="element">
        <p>Images</p>
    </div>
    <div class="element">
        <p>Video</p>
    </div>
    <div class="element">
        <p>Apps</p>
    </div>
</body>
</html>