

<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" media="all" type="text/css" href="{% static 'app1/style.css' %}" />
    <title>WEB SITE</title>
</head>
<body>
     <div>
    <a href="{% url 'login' %}"> <button type="button" class="btn btn-primary" style="height:50px;width:150px; float: right;" >Log out </button> 
    <a href="{% url 'createart' %}"> <button type="button" class="btn btn-primary" style="height:50px;width:150px;float: right;" >Create Article </button> </a>
    <a href="{% url 'news' %}"> <button type="button" class="btn btn-primary" style="height:50px;width:150px;float: right;" >Home </button> </a>
    </div> 
    <br>
    <br>
    <div class="element">
        <p><script type="text/javascript">
           
        </script></p>
    </div>

    {% for item in list_articles %}
    <div style="width: 80%; padding: 10px">
        <div style="float:left; width: 15%;text-align: center; padding: 10px"> <a href="./sourcepage?sourcename={{item.source}}"> <img src="../static/imgs/{{item.source}}.png" style="padding-top: 30px; width:80%;max-width:80px;"></a>
     </div>
        <div style="float:left; width: 60%"> <div style=" background-color:#DCDCDC"> <h3 >{{ item.title}}</h3></div> <div style=" background-color:#F0F0F0"> <p style="margin: 0;"> {{ item.text}} <a href="./articles?articleid={{item.article_id}}"><u>Readmore</u></a> 
        </p></div> </div>
        <div style="float:right"> <h4>Agreement Index:</h4>{{item.agreement_index}}</div>
    </div>
    <div style="clear:both"></div>
    </br></br>
    {% endfor %}
    <form action="{% url 'news' %}" method="get">
        <input type="hidden" name="pagenum" value="{{pagenum}}" typ>
        <input type="submit" value="Next page">
    </form>

</body>
</html>