<!DOCTYPE html>
<html>
<head>
	<title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<script>
function myFunction() {

    window.open("https://www.w3schools.com","_self");
}
</script>


<body >
	
<!-- <button type="button" style="height:50px;width:250px" onclick="alert('Hello world!')"></button>
<button type="button" style="height:50px;width:250px;float: right;" onclick="alert('Hello world!')" >Click Me!</button>
 -->


<button type="button" class="btn btn-primary" style="height:50px;width:150px;" >Vote for Reliability</button>

<a href="{% url 'login' %}"> <button type="button" class="btn btn-primary" style="height:50px;width:150px;" >upvote </button> </a>

<button type="button" class="btn btn-primary" style="height:50px;width:150px;float: right;">Reliability index: {{reliabilityindex}} </button>
{% load static %}
<center> <img src="../static/imgs/{{sourcename}}.png" style="padding-top: 30px; width:150px;max-width:180px;"> </center>

<hr style = "height:5px;border:none;color:#333;background-color:#333;">

<div>
{% for item in list_articles %}
<center>
<div style="width: 80%; padding: 10px">
        
        <div style="float:left; width: 60%"> <div style=" background-color:#DCDCDC"> <h3 >{{ item.title}}</h3></div> <div style=" background-color:#F0F0F0"> <p style="margin: 0;"> {{ item.text}} <a href="./articles?articleid={{item.article_id}}"><u>Readmore</u></a> 
        </p></div> </div>
        <div > <h4>Agreement Index:</h4>{{item.agreement_index}}</div>
    </div>
    <div style="clear:both"></div>
    </br></br>

<div>
	<center>
	{% endfor %}


</body>
</html>