tr>td {
  padding-bottom: 10px;
}

.w3-light-grey,.w3-hover-light-grey:hover,.w3-light-gray,.w3-hover-light-gray:hover{color:#000!important;background-color:#f1f1f1!important}
.w3-green,.w3-hover-green:hover{color:#fff!important;background-color:#4CAF50!important}