body { /* parent */
    background-color: rgba(0, 41, 59, 1); margin: 0;
    width: 100%; height: auto;
}
.element { /* body */
    float: left;
    width: 25%;
    height: 65%;
    padding-top: 5%; padding-right: 1%; padding-left: 1%;
    padding-bottom: 5%;
    margin-top: 2.5%; margin-right: 0%; margin-left: 15%;
    margin-bottom: 2%;
    background-color: rgba(1, 255, 217, 0.3);
    border-style: solid; border-left-width: 2px;
    border-right-width: 2px; border-top-width: 0px;
    border-bottom-width: 0px;
    border-radius: 1px; border-color: rgba(1, 255, 255, 1);
}
.element p { /* element */
    width: 100%;
    height: auto;
    font: 5vw Open, sans-serif;
    text-align: center;
    color: rgba(0, 230, 255, 1);
}
